<% for(var i = 0; i < stocks.length; i++) { %>
<tr>
    <td><%= i + 1 %></td>
    <td><%= stocks[i].nama %></td>
    <td><%= stocks[i].desc %></td>
    <td><%= stocks[i].status %></td>
    <td>
        <a href="/update-stock?docId=<%= stocks[i].docId%>" class="btn border-shadow update">
            <i class="bi bi-pencil"></i>
        </a>
        <a class="btn border-shadow delete" data-docId=<%= stocks[i].docId %>>
            <i class="bi bi-trash"></i>
        </a>
    </td>
</tr>
<% } %>